<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block mx-auto">Update Room</h2>
                    </div>
                </div>
                <div class="row tm-edit-product-row">
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto">
                        <form action="/rooms/add" method="POST" class="tm-edit-product-form">
                            <div class="form-group mb-3">
                                <label for="name">Room Name
                                </label>
                                <input id="name" name="name" placeholder="{{data.name}}" type="text"
                                    class="form-control validate" required />
                            </div>

                            <div class="form-group mb-3">
                                <label for="bedCount">Number Of Beds</label>
                                <input id="bedCount" placeholder="{{data.bedCount}}" name="bedCount" type="text"
                                    class="form-control validate" required />
                            </div>

                            <div class="form-group mb-3 ">
                                <label for="rent">Rent / Bed
                                </label>
                                <input id="rent" placeholder="{{data.rent}}" name="rent" type="text"
                                    class="form-control validate" />
                            </div>
                    </div>


                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 mx-auto">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Room Now</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>